
<h1>Registration Form in Reactive Form</h1>

<div class="container">
    <div class="row">
        <div class="form-bg">
            <form [formGroup]='signupForm' >

                <div class="form-group">
                    <input type="text" formControlName='fname' placeholder="Your First Name">
                    <span *ngIf="signupForm.controls['fname'].hasError('required')">First Name Required</span>
                </div>

                <div class="form-group">
                    <input type="text" formControlName='lname' placeholder="Your Last Name">
                </div>

                <div class="form-group">
                    <input type="text" formControlName='Emailid' placeholder="Your Email Id">
                    <div *ngIf="signupForm.controls['Emailid'].touched && !signupForm.controls['Emailid'].valid">  
                        <span *ngIf="signupForm.controls['Emailid'].hasError('required') ">  
                           Email ID is needed  
                             </span>  
                            
                      <span *ngIf="signupForm.controls['Emailid'].hasError('email') ">  
                           Invalid Email ID  
                            </span>  
                                       
                    </div>  
                </div>

                <div class="form-group">
                    <input type="password" formControlName='userpassword' placeholder="Your Password">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="button" (click)="PostData()"  [disabled]='!signupForm.valid'>Post Data</button><br>
                    <button class="btn btn-secondary" type="button" (click)="resetForm()" >Reset Data</button>
                </div>

            </form>
        </div>
    </div>
</div>